.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

*.tfstate
*.backup
*.tfvars
*.json
*.txt
*.log


Azure-lockdown-ubuntu-18/.terraform/
Azure-spot/.terraform/
Azure-multi-vms/.terraform/
Azure-multi-vms-spot/.terraform/ 

Azure-lockdown-ubuntu-18/backend.tf
Azure-spot/backend.tf
Azure-multi-vms/backend.tf 
Azure-multi-vms-spot/backend.tf

Azure-lockdown-ubuntu-18/crash.log
Azure-spot/crash.log
Azure-multi-vms/crash.log
Azure-multi-vms-spot/crash.log



# use 'git rm --cached file.name' to ignore commited file
# use 'git status --ignored' to see ignore files