.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

*.tfstate
*.backup
*.tfvars
*.json
*.txt



azure-lockdown-ubuntu-18/.terraform/
spot/.terraform/
Azure-multi-vms/.terraform/
Azure-multi-vms-spot/.terraform/ 

azure-lockdown-ubuntu-18/backend.tf
Azure-spot/backend.tf
Azure-multi-vms/backend.tf 
Azure-multi-vms-spot/backend.tf



# use 'git rm --cached file.name' to ignore commited file
# use 'git status --ignored' to see ignore files